/.idea/misc.xml
/turn headings.csv
/file backups/
/SALSA/Help/SALSA.hnd
/SALSA/Help/SALSA.hnd-journal
/SALSA/Help/SALSA.lck
/UserSettings/user_is_default.txt
/UserSettings/config.ini
/.idea
/.idea/SALSA.iml
/UserSettings/UserInstructions.json
/UserSettings/user_is_default.txt
/compressed_scripts/
/decompressed_scripts/
